/*--------------------
COLOR SCHEME:
background-color:#fff;
a {color:#009900;}
a:visited {color:#888;}
a:hover {color:#333;}
----------------------
*/



/* Browser Reset */

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126   License: none (public domain)*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, side, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {	line-height: 1;}ol, ul {list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {	border-collapse: collapse;border-spacing: 0;}
/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/


* {font-family: Georgia, "Times New Roman", serif;}
body {padding: 5%;background-color:#fff;max-width:1800px;}

h1 {font-family: Georgia, "Times New Roman", serif; font-weight:bold;font-size: 48px;text-align: center; margin-bottom:30px;}
h2 {font-family: Georgia, "Times New Roman", serif; font-weight:bold;font-size: 32px;text-align: center;}
h3 {}
h4 {}
h5 {font-family: Georgia, "Times New Roman", serif; font-weight:bold;font-size: 16px;margin-bottom:8px;}
h5:nth-child(1n+2) {margin-top: 20px;}

p {font-size: 20px;}
a {color:#009900;}
a:visited {color:#888;}
a:hover {color:#333;}

ol {list-style-type:decimal; padding-left: 22px;}
li {font-size: 20px; padding-left: 8px;}

#wrapper{width:100%;margin:auto;}
#header {text-align:center;width:100%;}
#nav {margin-bottom: 10px;max-width:100%;min-width:80%;}
#nav a {text-decoration:none;}
#recent {margin-top: 20px;margin-bottom:20px;text-align:center;}


#recent h2 {font-weight: bold;margin-bottom: 10px;}
#col1 {width:48%;float:left;clear:left;}
#col1,#col2{padding-right:2%;}
#col2 {float:left;width:48%;}
#col3 {float:left;width:25%;display:none;}
html #twitter {max-width:100%; padding-top:20px;}
#footer{clear:both;text-align:center;padding-top:25px;}

<!--NEW CSS CONTENT-->
#codeoregon{max-width: 100%;}
#codeoregon img, #codeoregon ol, #codeoregon h5{max-width:50%; padding-left: 25%; }
<!--END ADDL CSS-->

.footnote{font-size:.6em;font-style:italic;}
.middle {max-width:100%;}
.center{float:none;display:inline-block;margin:0 auto;margin-left: 10px;}
.movemeleft {text-align:center;max-width:100%;}
.tallboy {margin-top:-40px; margin-bottom: 30px;}
.dividecontent{margin-bottom:20px;}
.announcement{padding-top:30px;}
.centro{text-align:center;}

/* Breakpoints */

/* iPad */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
/* Styles */

#col1,#col2,#col3{max-width:33%; padding-bottom:20px;}
#col1,#col2{padding-right:4%;}
img{max-width:95%;}

.tallboy{margin: 0;}
.movemeleft {margin-left:-10px;}

}

/* in between */
@media only screen 
and (min-width : 481px)
and (max-width : 767px) {

h5 {text-align:center; max-width:85%;}
ol{max-width:100%; margin-left:auto; margin-right:auto;}

#col1{padding-right:5%;}
#col1,#col2{width:45%;}
#col1,#col2,#col3 {margin-left:auto; margin-right:auto; padding-left:1%; padding-bottom:20px;}
#col3{clear:left; float:none; width:85%;}
html #twitter{text-align:center; max-width:100%;}
.tallboy{margin: 0;}
.movemeleft img{max-width:80%;}

}



/* Smartphone */
@media only screen and (max-width : 480px) {

h5 {text-align:center; max-width:85%;}
ol{width:90%;margin-left:9%;}
img{max-width:90%;}
#header{max-width: 99%;}
#nav{max-width: 99%;}
#col1,#col2,#col3{display:inline-block;min-width:100px;width:94%; clear:both;margin-left:auto;margin-right:auto;margin-bottom:20px;}
#col3{float:left;}
#recent{display:none;}
html #twitter{text-align:center; max-width:100%;margin-left:auto;margin-right:auto;}
.tallboy{margin: 0;margin-top:1em;}

}